
#header{
  background-image:
    radial-gradient(#0ff, transparent),
    radial-gradient(rgb(65, 38, 216), transparent);
  background-attachment: fixed;
  min-height: 5vh;
}

#main{

  background-color: #dddee721;
  min-height: 86vh;
}

#footer {
  color: #fff;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(145,236,255) 0%, rgb(167,205,250) 100%), center center no-repeat;
  background-size: cover;  
  padding: 5px;
  width: 100%;;

  /*絶対位置*/
  /* position: absolute; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0; */
  margin-top: 1vh;
  min-height: 5vh;
}

/* クリアボタン */
.clear-button{
  margin: 3px;
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
}

.clear-button:hover{
  color: #fff;
  background: #f56500;
}

button{  
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
}

.original-label{
    padding: 0;
    margin: 2% 0 0 1%;    
    text-align: left;
    font-weight: 600;
}

.new_addition_button{
  text-align: right;  
  margin-bottom: 5px;
}
/* マスタ画面のtable設定 Start */

.scroll-wrap-x {
  overflow-x: scroll;
}

.data-info-table{  
  width: 100%;
  margin: 5px 0 5px 0;
  border-collapse:separate;
  border-spacing: 0;    
  white-space: nowrap;

}

.data-info-table th:first-child{
  border-radius: 5px 0 0 0;
}

.data-info-table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.data-info-table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  /* min-width: 80px; */
  padding: 5px 0;
}

.data-info-table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;  
  /* min-width: 80px; */
  padding: 5px 10px;
}

.data-info-table td:last-child{
  border-right: 1px solid #a8b7c5;
}

.data-info-table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.data-info-table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
} 

/* マスタ画面のtable設定 End


/* モーダル内のボタン設定 Start */
.modal-button{  
  border: none;
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
}

.modal-button:hover {
  background-color: #cdf06d;
  cursor: pointer;
}
.modal-button.active {
  background-color: #cdf06d;
}

.modal-button.focus {
  background-color: #cdf06d;
}
/* モーダル内のボタン設定 End */


/* モーダル内のアイコン設定 Start */

.modal .fa-edit{
  color: green;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

.modal .fa-thumbs-down{
  color: red;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

.modal .fa-thumbs-up{
  color: blue;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

.modal .fa-school{
  color:brown;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

/* モーダル内のアイコン設定 End */


/* マスタ画面の新規登録ボタン設定 Start */
a.btn--red.btn--cubic {
  background-color: rgb(206, 247, 204);
  border-bottom: 5px solid #37e640;  
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #37e640;  
}

a.btn--radius {
  border-radius: 100vh;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}
/* マスタ画面の新規登録ボタン設定 End */

.inoperable{
  pointer-events: none;
  opacity:0.1;
}

/* loader.blade.php ↓ */

#loading_area{
  position: absolute;
  top: 50%;
  left: 50%;
}



#loading_area ul{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex}

#loading_area ul li{
  list-style:none;
  color:#484848;
  font-family:arial;
  font-size:5em;
  animation:animate 1.4s linear infinite}

@keyframes animate 
{
  0%{color:#484848;text-shadow:none}
  90%{color:#484848;text-shadow:none}
  100%{color:#fff900;text-shadow:0 0 7px #fff900 ,0 0 50px #fff900}
}

#loading_area ul li:nth-child(1){animation-delay:0.2s}
#loading_area ul li:nth-child(2){animation-delay:0.4s}
#loading_area ul li:nth-child(3){animation-delay:0.6s}
#loading_area ul li:nth-child(4){animation-delay:0.8s}
#loading_area ul li:nth-child(5){animation-delay:1s}
#loading_area ul li:nth-child(6){animation-delay:1.2s}
#loading_area ul li:last-child{animation-delay:1.4s}

/* loader.blade.php ↑ */




#uploading_area{
  position: absolute;
  top: 50%;
  left: 50%;
}

#uploading_area ul{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex}

#uploading_area ul li{
  list-style:none;
  color:#484848;
  font-family:arial;
  font-size:5em;
  animation:animate 1.8s linear infinite}

@keyframes animate 
{
  0%{color:#484848;text-shadow:none}
  90%{color:#484848;text-shadow:none}
  100%{color:#fff900;text-shadow:0 0 7px #fff900 ,0 0 50px #fff900}
}

#uploading_area ul li:nth-child(1){animation-delay:0.2s}
#uploading_area ul li:nth-child(2){animation-delay:0.4s}
#uploading_area ul li:nth-child(3){animation-delay:0.6s}
#uploading_area ul li:nth-child(4){animation-delay:0.8s}
#uploading_area ul li:nth-child(5){animation-delay:1s}
#uploading_area ul li:nth-child(6){animation-delay:1.2s}
#uploading_area ul li:nth-child(7){animation-delay:1.4s}
#uploading_area ul li:nth-child(8){animation-delay:1.6s}
#uploading_area ul li:last-child{animation-delay:1.8s}
