
.dropdown-submenu {
  margin: 0;
  padding: 0;
}

.dropdown-submenu label {
  display: block;
  padding : 8px;
  color: rgb(41, 20, 20);
  font-weight: bold;  
  cursor: pointer;
}

.dropdown-submenu input[type="checkbox"] {
  display: none;
}

.dropdown-submenu .content {
  height: 0;
  padding: 0;
  overflow: hidden;    
}

.switch1:checked + .content {
  height: auto;  
}
.switch2:checked + .content {
  height: auto;  
}
.switch3:checked + .content {
  height: auto;  
}




#header{
  background-image:
    radial-gradient(#0ff, transparent),
    radial-gradient(rgb(65, 38, 216), transparent);
  background-attachment: fixed;
  min-height: 5vh;

  
}

#Main{

  background-color: #dddee721;
  min-height: 86vh;
}

#footer {
  color: #fff;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(145,236,255) 0%, rgb(167,205,250) 100%), center center no-repeat;
  background-size: cover;  
  padding: 5px;
  width: 100%;;

  display: flex;
  justify-content: center;
  align-items: center;
  
  /*絶対位置*/
  /* position: absolute; */

  /* bottom: 0; */
  margin-top: 1vh;
  min-height: 5vh;
}



/* 操作不可能 */
.Impossible {
	pointer-events: none;
	opacity: 0.9;
}

/* 操作可能 */
.Possible {
	pointer-events: auto;
}

button{  
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.OriginalLabel{
    padding: 0;
    margin: 2% 0 0 1%;    
    text-align: left;
    font-weight: 600;
}

.NewAddition-Button{
  text-align: right;  
  margin-bottom: 5px;
}
/* マスタ画面のtable設定 Start */

.DataInfoTable-Wrap {
  overflow-x: scroll;
}

.DataInfoTable{  
  width: 100%;

  border-collapse:separate;
  border-spacing: 0;    
  white-space: nowrap;

}

.DataInfoTable th:first-child{
  border-radius: 5px 0 0 0;
}

.DataInfoTable th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.DataInfoTable th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  /* min-width: 80px; */
  padding: 5px 0;
}

.DataInfoTable td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;  
  /* min-width: 80px; */
  padding: 5px 10px;
}

.DataInfoTable td:last-child{
  border-right: 1px solid #a8b7c5;
}

.DataInfoTable tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.DataInfoTable tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
} 

/* マスタ画面のtable設定 End


/* モーダル内のボタン設定 Start */
.ModalButton{  
  border: none;
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
}

.ModalButton:hover {
  background-color: #cdf06d;
  cursor: pointer;
}
.ModalButton.active {
  background-color: #cdf06d;
}

.ModalButton.focus {
  background-color: #cdf06d;
}
/* モーダル内のボタン設定 End */


/* モーダル内のアイコン設定 Start */

.modal .fa-edit{
  color: green;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

.modal .fa-thumbs-down{
  color: red;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

.modal .fa-thumbs-up{
  color: blue;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

.modal .fa-school{
  color:brown;
  margin: 0px 5px 0px 5px;
  font-size:1.5em; /*1.5倍にする*/
}

/* モーダル内のアイコン設定 End */


/* マスタ画面の新規登録ボタン設定 Start */
a.btn--red.btn--cubic {
  background-color: rgb(206, 247, 204);
  border-bottom: 5px solid #37e640;  
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #37e640;  
}

a.btn--radius {
  border-radius: 100vh;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}
/* マスタ画面の新規登録ボタン設定 End */

/* マスタ画面の削除モーダル設定 start */
.Dlete_Modal_Table{
  width: 100%;
}

.Dlete_Modal_Table-Column{
   padding: 1%;
   margin: 1%;
   width: 50%;
   text-align: right;
}

.Dlete_Modal_Table-Value{
   padding: 1%;
   margin: 1%;
   width: 50%;
   text-align: left;
}
/* マスタ画面の削除モーダル設定 End */





.InoperableClass{
  pointer-events: none;
  opacity:0.1;
}

/* loader.blade.php ↓ */

#LoadingArea{
  position: absolute;
  top: 50%;
  left: 50%;
}



#LoadingArea ul{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex}

#LoadingArea ul li{
  list-style:none;
  color:#484848;
  font-family:arial;
  font-size:5em;
  animation:animate 1.4s linear infinite}

@keyframes animate 
{
  0%{color:#484848;text-shadow:none}
  90%{color:#484848;text-shadow:none}
  100%{color:#fff900;text-shadow:0 0 7px #fff900 ,0 0 50px #fff900}
}

#LoadingArea ul li:nth-child(1){animation-delay:0.2s}
#LoadingArea ul li:nth-child(2){animation-delay:0.4s}
#LoadingArea ul li:nth-child(3){animation-delay:0.6s}
#LoadingArea ul li:nth-child(4){animation-delay:0.8s}
#LoadingArea ul li:nth-child(5){animation-delay:1s}
#LoadingArea ul li:nth-child(6){animation-delay:1.2s}
#LoadingArea ul li:last-child{animation-delay:1.4s}

/* loader.blade.php ↑ */




#UploadingArea{
  position: absolute;
  top: 50%;
  left: 50%;
}

#UploadingArea ul{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex}

#UploadingArea ul li{
  list-style:none;
  color:#484848;
  font-family:arial;
  font-size:5em;
  animation:animate 1.8s linear infinite}

@keyframes animate 
{
  0%{color:#484848;text-shadow:none}
  90%{color:#484848;text-shadow:none}
  100%{color:#fff900;text-shadow:0 0 7px #fff900 ,0 0 50px #fff900}
}

#UploadingArea ul li:nth-child(1){animation-delay:0.2s}
#UploadingArea ul li:nth-child(2){animation-delay:0.4s}
#UploadingArea ul li:nth-child(3){animation-delay:0.6s}
#UploadingArea ul li:nth-child(4){animation-delay:0.8s}
#UploadingArea ul li:nth-child(5){animation-delay:1s}
#UploadingArea ul li:nth-child(6){animation-delay:1.2s}
#UploadingArea ul li:nth-child(7){animation-delay:1.4s}
#UploadingArea ul li:nth-child(8){animation-delay:1.6s}
#UploadingArea ul li:last-child{animation-delay:1.8s}
