
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(145,236,255) 0%, rgb(167,205,250) 100%), center center no-repeat;
  background-size: cover;  
  padding: 5px;
  width: 100%;;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

@media screen and (min-width:480px) and ( max-width:599px) {
 
}

@media screen and (min-width:0px) and ( max-width:479px) {

}
