body{
  background-color: #dddee721;
  padding-bottom: 5vh;
}

#main{

  background-color:  #fff;
  min-height: 86vh;
}

/* header  Start */

/* 
header
参考URL
https://hakenblog.com/hamburger-menu/
 */
 header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  /* background-color: rgba(34, 49, 52, 0.9); */
  background-color:rgb(243, 253, 215, 0.8);    
  /* background-color: rgba(233, 247, 112, 0.9); */
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

header .gakupro_logo {
  height: 59px;    
}



header nav {
  margin: 0 0 0 auto;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header a {
  color: #270e04;
  text-decoration: none;
  font-weight: 600;
  display: block;
  line-height: 60px;
  padding: 0 10px;
}

header .sm {
  display: none;
}


/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 768px) {

  header .pc {
    display: none;
  }   
    

  header #a {
      background-color: transparent;
      position: relative;
      cursor: pointer;
      margin: 0 60px 0 0;
      height: 60px;
      width: 60px;
    }


  header #hamburger {
    background-color: transparent;
    /* old */
    /* position: relative; */
    /* margin: 0 0 0 auto; */

    /* new */      
    position: absolute;
    right: 0;


    cursor: pointer;
    
    height: 60px;
    width: 60px;
  }

  header .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;      
    background-color:#270e04;
    /* background-color: white; */
    border-radius: 8px;
    transition: ease 0.75s;
  }

  header .icon span:nth-of-type(1) {
    top: 16px;
  }
  header .icon span:nth-of-type(2) {
    top: 28px;
  }
  header .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  header .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  header .close span:nth-of-type(2) {
    opacity: 0;
  }

  header .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  
  header .sm {
      top: 60px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  header ul {
    flex-direction: column;
  }

  header li {
      border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }

  header a {
    /* text-align: center;  */      
    text-align: left; 
    margin-left: 20%;
    font-weight: 400;
    color: azure;
    /* border-top: solid 0.5px rgba(255, 255, 255, 0.6); */
  }

  header .navi_logo {
      padding: 2px;
      height: 58px;
      width: 58px;
      
  }   

  
  
}


#empty_space{
  height: 60px;
}

/* header  End */


/* 検索項目クリアボタン */
.search-value-clear-button::after{
  content:"クリア";
}

/* 検索ボタン */
.search-button::after{
  content:" 検索";
}

.search-board-close-button::after{
  content:"閉じる";
}



.pagetop {
  display: none;/* 非表示 */
  height: 50px;
  width: 50px;
  position: fixed;
  right: 1vh;
  bottom: 1vh;
  background-color:rgb(89,240, 250) ;
  opacity: 0.6;  
  justify-content: center;
  align-items: center;
  z-index: 2;
}


/* activeクラスが付与されたとき */
.pagetop.active {
  display: flex;
}


.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #f5f7f9;
  border-right: 3px solid#f5f7f9;
  transform: translateY(20%) rotate(-45deg);
}


.warning-statement{ 
  color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:10000;
  font-size: 3em;
  font-weight: bold;
  pointer-events:none;    
  opacity: 0.6;
}


.loader-area{
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  z-index: 100000;
}


.loader {
  position: fixed;    
  top: 48%;
  left: 48%;
  z-index: 100001;
}

/* 参考URL */
/* https://css-loaders.com/colorful/ */

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform-origin: 50% 116.5%;
  animation: l17 2s infinite linear;
}
.loader:before {
  content:"";
  min-width: 233%;
  height: 233%;
  background: 
  radial-gradient(farthest-side,#00DA3C 90%,#0000) top,
  radial-gradient(farthest-side,#00CBE7 90%,#0000) left,
  radial-gradient(farthest-side,#FD8603 90%,#0000) bottom,
  radial-gradient(farthest-side,#F4F328 90%,#0000) right;
  background-size: 43% 43%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-direction: reverse;
}

@keyframes l17 {
  100% {transform: rotate(360deg)}
}






.processing-area{
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  z-index: 100000;
}


.processing {
  position: fixed;    
  top: 48%;
  left: calc((100% - 120px) / 2);
  z-index: 100001;
}



.processing {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
   repeating-linear-gradient(135deg,#f03355 0 10px,#ffa516 0 20px) 0/0%   no-repeat,
   repeating-linear-gradient(135deg,#ddd    0 10px,#eee    0 20px) 0/100%;
  animation: l3 2s infinite;
}
@keyframes l3 {
    100% {background-size:100%}
}